
@{
    ViewData["Title"] = "Digital Tax Reclaim";
}



<div class="col-md-8 col-md-offset-3">
    <p>
        <h1>Description</h1>
    </p>
    <p>
        Business has requested support in order to implement a digital tax reclaim process for our
        customers from France. This service will create on request of a customer a tax reclaim
        document and forward this to the tax authority.
    </p>
    <p>
        On a yearly basis the customer needs to provide via a web interface the following reclaim
        information: product type (Product A or Product B), the tax year and the text for the cover letter.
        The system will automatically logs the account name of the registered customer.
    </p>
    <p>
        The Account Manager will then attach the traded amount to the related product type.
    </p>
    <p>
        Business has additionally asked to identify automation potentials and to implement these ones.
    </p>
    <p>
        <h1>BPMN Model</h1>
    </p>
    <p>
        <img src="~/img/bpmn.PNG" class="img-responsive"/>
    </p>
</div>
